* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden; /* Disable scrolling */
}

html, body {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.hotspot {
    position: absolute;
    background: rgba(255, 255, 255, 0.0);
    border: 0px solid white;
    border-radius: 50px;
    cursor: pointer;
    transition: background 0.2s;
    width: 256px; /* Default size, adjusted dynamically */
    height: 300px;
}

.hotspot:hover {
    background: rgba(255, 255, 255, 0.2);
}

.theme {
    position: absolute;
    background: rgba(255, 255, 255, 0.0);
    border: 0px solid white;
    border-radius: 100px;
    cursor: pointer;
    transition: background 0.2s;
    width: 120px; /* Default size, adjusted dynamically */
    height: 120px;
}

.theme:hover {
    background: rgba(255, 255, 255, 0.2);
}
