/* Initially hide the iframe */
#iframe-container {
    width: 0px;
    height: 0px;
    border: none;
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
}

/* Fullscreen styles for the iframe */
body.fullscreen #iframe-container {
    width: 100vw;
    height: 100vh;
    visibility: visible;
    position: static;
}