* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.description {
    position: absolute;
    background: rgba(255, 255, 255, 0.0);
    color: white;
    text-align: center;
    font-family: 'Arial', serif;
}

@media (min-aspect-ratio: 1.9) {
    .image-container {
        height: 89vh;
    }
    .description {
        font-size: 12px;
    }
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.hotspot {
    position: absolute;
    background: rgba(255, 255, 255, 0.0);
    cursor: pointer;
}

.theme {
    position: absolute;
    background: rgba(255, 255, 255, 0.0);
    cursor: pointer;
}

.item {
    position: absolute;
    background: rgba(255, 255, 255, 0.0);
    cursor: pointer;
}

.detail {
    position: absolute;
    background: rgba(255, 255, 255, 0.0);
    cursor: pointer;
}

.interest {
    position: absolute;
    background: rgba(255, 255, 255, 0.0);
    cursor: pointer;
}

.privacy {
    position: absolute;
    background: rgba(255, 255, 255, 0.0);
    cursor: pointer;
}
