body {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; /* Position relative to the viewport */
    top: 780px; /* Vertical center */
    left: 50%; /* Horizontal center */
    transform: translate(-65%);
}

.horizontal-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; /* Position relative to the viewport */
    top: 450px; /* Vertical center */
    left: 50%; /* Horizontal center */
    transform: translate(-65%);
}