body {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
}

.vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
}